@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100..700&family=Josefin+Sans:wght@100..700&family=Outfit:wght@100..900&family=Playwrite+GB+S&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');
@mixin font3 {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
  
}
@mixin font2 {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: italic;
  
}
@mixin font 
{
    font-family: "Pacifico", cursive;
    font-size: 4vh;
    font-weight: 400;
    font-style: normal;
}
@mixin font4 {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
@mixin font5{
    font-family: "Playwrite GB S", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
@mixin font6{
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    
    
}

header {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    
    
    background-color: #b0dbaa;
    ul {
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        align-content: center;
        
    }
    ul li {
        display: inline-block;
        list-style: none;
        height:8vh;
        width: 12vw;
        text-align: center;
        @include font;
        align-content: center;
        background-color: rgb(128, 210, 99);
        border-radius: 20px;

    }

}
main {
    background: rgb(34,193,195);
background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    padding-bottom: 0;
    height:100% ;
    article {
        text-align: center;
        @include font;
        font-size: 40px;
        padding-bottom: 5vh;
    }
    .blocks {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
    }
    .blocks .block{
        width: 30vw;
        height: 10vh;
        background-color: coral;
        border-radius: 30px;
        text-align: center;
        opacity: 0.7;
        @include font2;
        font-size: 2.1vw;
    }
    img{
        margin: 0 auto;
        margin-top: 3em;
        display: flex;
        flex-direction: row;
    }
    span a{
        display: block;
        text-align: center;
        padding: 1vw 2vh;
        margin-top: 2em;
        margin: 2em auto 0 auto;
        width: 5vw;
        border-radius: 1vh;
        border: 0;
        background-color: rgb(234, 190, 95);
        @include font3();
        transition: all 500ms ease;
        color: black;
        text-decoration: none;
        
    }
    span a:hover{
        transform: scale(1.13);
    }
    span img {
        width: 5%;
        transform: rotate(160deg);
        display: inline-flex;
        justify-content: flex-end;
        position: relative;
        left: 55vw;
        bottom: 13vh;
    }
    
    .container {
        width:100%;
        height: 100%;
        padding: 7vh 0;
    }
    .container .text {
        display: grid;
        grid-template-columns:repeat(6, 1fr) ;
        align-content: center;
        grid-gap: 1%;
    }
    .container .text > div {
        
        width: 20vw;
        height: 15vh;
        margin: 3vh 2%;
        text-align: center;
        align-content: center;
        border-radius: 1.5vw;
        background-color: deepskyblue;
        padding: 1%;
        @include font3();
        font-size: 1.5vw;
    }
    section img {
        
        width: 75%;
    }
    section {
        padding-bottom: 4vh;
    }
    .container span {
        display: block;
        align-content: center;
        justify-content: center;
        flex-wrap: wrap;
        width: 25%;
        font-size: 2vw;
        @include font3();
        background-color: cadetblue;
        padding: 2%;
        margin-top: 6vw;
        margin-left: auto;
        margin-right: auto;
        border-radius: 2vw;
    }
    .test {
        margin: 0 17vw;
        background-color: #b0dbaa;
        padding: 2%;
        @include font4();
        border-radius:4vh ;
    }
    .test input {
        padding: 0.5%;
        border: 0;
        border-radius: 1vh;
        background-color: aliceblue;
    }
    
    .test button {
        padding: 1vh 4vh;
        border: 0;
        border-radius: 1vh;
        background-color: chocolate;
        color: #fff;
        transition: all 505ms ease;
        
        text-decoration: none;
        &:hover{
            transform: scale(1.14);
            background-color:rgb(75, 89, 240);
        }
    }
    .fintest {
        display: inline-block;
        width:100%;
        height:50vh ;
        padding-top: 6%;
        padding-bottom: 8.9%;
        justify-self: center;
        
        justify-content: center;
        &::-webkit-scrollbar {
            width: 0;
            opacity: 0;
        }
        input, button, p {
            display:flex;
            justify-self: center;
            @include font2();
            font-size: 5vh;
            
        }
        button {
            margin: 2% 0;
            border: 0;
            background-color: #FC5130;
            border-radius: 1.5vh;
            color: #fff;
            padding: 0.5% 2%;
            transition: all 1000ms ease;
            &:hover {
                animation: butan 4s infinite;
                @keyframes butan {
                    0% {transform: rotate(10deg);}
                    50% {transform: rotate(-10deg);}
                    100% {transform: rotate(10deg);}
                }

            }
            
            
            

        }
        
    }
    
    
}
section h3{
    @include font3();
    font-size: 3vw;
    display: flex;
    flex-direction: row;
    justify-content: center;

    
}
.layout  {
    text-align: center;
    width: 100%;
    height: 100vh;
    background-image: url('image.jpg');
    background-size: cover;
     
    @include font5();
    font-weight: 500;
    font-size: 2vw;
    .header {
        padding: 1% 0;
        height: 15%;
        align-content: center;
        p{
        display: inline;
        background-color: #3f48cc;
        padding: 3vh 2vh;
        border-radius: 4vh;
        }
    }
    .main {height: 65%; 
        background: url('bg.png') no-repeat;
        background-size: cover;
        margin: 0 15vw;
        .main1 {
            padding-top: 15vh;
            margin-top: 2vh;
            button {
                margin-top: 5vh;
                padding: 1.5% 2.7%;
                @include font6();
                font-size: 2vw;
                border: 0;
                background-color: #9671a5;
                color: #000;
                border-radius: 3vw;
                transition: all 500ms ease;
                &:hover{
                    transform: scale(1.14);
                }
            }
            #footer {
                display: none;
                position: relative;
                top:10vw;
            }
            
        }
        
    }
    .footer {
        height: 10%;
        display: none;
        
    }
}


 